.detail-level-2 {
    border: 4px solid #00b5cc; /* Un borde de color para diferenciarlo del personaje */
    background-color: #f0f8ff; /* Un fondo ligeramente azulado */
}

.detail-level-2 h2 {
    color: #008c9e;
    margin-top: 0;
}

.detail-level-2 p {
    font-size: 1.1rem;
    margin: 10px 0;
    color: #333;
}

.detail-level-2 button {
    background-color: #555;
    margin-bottom: 15px;
}

.detail-level-2 button:hover {
    background-color: #333;
}